body {
  font-family: sans-serif;
  background-color: #121212;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav {
  background-color: #1e1e1e;
  color: #fff;
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: #bbb;
  text-decoration: none;
  font-weight: bold;
}

nav ul li a:hover {
  text-decoration: underline;
  color: #fff;
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  margin-top: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #333;
}

.balance {
  display: flex;
  align-items: center;
}

.balance-amount {
  color: #66bb6a;
  font-weight: bold;
}

.add-balance {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #66bb6a;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.add-balance:hover {
  background-color: #57a65a;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.auth-btn {
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #42a5f5;
  color: #fff;
  border: none;
  border-radius: 5px;
  display: inline-block;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.auth-btn:hover {
  background-color: #1e88e5;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.section-btn-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 20px 0;
}

.section-btn {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2em;
}

.disabled-btn {
  color: #ffffff8e;
  text-decoration: none;
  font-size: 1.2em;
}

.content {
  display: flex;
  width: 100%;
  margin-top: 20px;
}

.transactions {
  flex: 1;
  margin-right: 20px;
}

.transactions h2,
.filters h3,
.chart h3 {
  margin: 10px 0;
  color: #e0e0e0;
}

.filters {
  border: 2px solid #42a5f5;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #1e1e1e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.filters label,
.filters input,
.filters div {
  display: block;
  margin: 5px 0;
}

.filters input[type="date"] {
  width: 99%;
  padding: 5px;
  background-color: #2c2c2c;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
}

.filters button {
  margin: 5px 5px 0 0;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s;
}

.filters .apply {
  background-color: #66bb6a;
}

.filters .apply:hover {
  background-color: #57a65a;
}

.filters .clear {
  background-color: #ef5350;
}

.filters .clear:hover {
  background-color: #e53935;
}

.transactions-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.transactions-table th,
.transactions-table td {
  border: 1px solid #555;
  padding: 8px;
  text-align: left;
}

.transactions-table th {
  background-color: #2c2c2c;
}

.transactions-table .negative {
  color: #ef5350;
}

.transactions-table .positive {
  color: #66bb6a;
}

.transactions-table .edit,
.transactions-table .delete {
  border: none;
  background: none;
  cursor: pointer;
  color: #42a5f5;
  transition: color 0.3s;
}

.transactions-table .edit:hover,
.transactions-table .delete:hover {
  color: #1e88e5;
}

.charts {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.chart {
  border: 1px solid #555;
  border-radius: 5px;
  padding: 10px;
  background-color: #1e1e1e;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}


