<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Finance Manager</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav>
        <ul>
            
            <li><a href="#"></a>Home</li> 
            <li><a href="#"></a></li>
            {% if user %}
                <li><a href="{{url_for('logout')}}">Log out</a></li>
            {% else %}
                <li><a href="{{url_for('login')}}">Log in</a></li>
            {% endif %} 
        </ul>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>

</body>
</html>