{% extends 'base.html' %}
{% from '__helpers.html' import form_generate %}


{% block main %}
<link rel="stylesheet" href="/static/css/form.css">
<div class="container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="form-message">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    {{ form_generate(form) }}
    <p>
        <a href="{{ url_for('register') }}" class="btn-create-account">Create a new account</a>
    </p>
</div>
 
{% endblock %}